
html,body{
    margin:0;
    height:100%;
    width:100%;
    margin: 0 auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
img
{
    pointer-events: none;
}
.show
{
    display: block !important;
}
.hidden
{
    display: none;
}
.canclick
{
    cursor:pointer;
    pointer-events: auto !important;
}
input
{
    outline:none;
     -webkit-tap-highlight-color:
    rgba(0, 0, 0, 0);
}
.anchorBL
{
    display:none
}
.layout_flex 
{
    display : -webkit-flex;
    display : flex;
    position : relative;
}
  
.layout-left 
{
    width: 13vh;
}
  
.layout-middle 
{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.layout-right 
{
    width: 1.5vh;
}

.swiper-button-prev:after{
    display: none;
}
.swiper-button-next:after{
    display: none;
}
.swiper-button-prev{
    
    background-image: url('../img/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 0 1vh 1vh 0;
    width: 5vh !important;
    height: 10vh !important; 
}
.swiper-button-next{
    background-image: url('../img/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 0 1vh 1vh 0;
    width: 5vh !important;
    height: 10vh !important;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    -moz-transform: rotate(180deg); 
    -ms-transform: rotate(180deg);   
    -o-transform: rotate(180deg); 
}  
.swiper-button-prev, .swiper-rtl .swiper-button-next
{
    left:0px !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev
{
    right: 0px !important;
}